name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"  # Corre cada 12 horas
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v3

      - name: Generate snake
        uses: Platane/snk@v3
        id: snake-gif
        with:
          github_user_name: Ignacia22
          outputs: |
            output/github-snake.svg
            output/github-snake-dark.svg

      - name: Push snake files
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: output
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
